name: Deploy Next.js to GitHub Pages

on:
  push:
    branches: ["main"]
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "npm"
          # Tells the action to look for the lock file inside the GCCP folder
          cache-dependency-path: "./GCCP/package-lock.json"

      - name: Install Dependencies
        # We run this command inside the GCCP folder
        working-directory: ./GCCP
        run: npm ci

      - name: Build
        # We run the build command inside the GCCP folder
        working-directory: ./GCCP
        run: npm run build

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          # Next.js 'output: export' creates the 'out' folder inside GCCP
          path: ./GCCP/out

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4